@model Cobra.Models.PaperBag

@{
    ViewData["Title"] = "DeletePaperBag";
}

<h3>Are you sure you want to delete this paper bag from order [@Model.PreOrder.Title]?</h3>
<div>
    <form asp-action="DeletePaperBag" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="View" asp-route-id="@Model.PreOrder.Id">Back to Order</a>
        </div>
    </form>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Barbel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Barbel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Embellishments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Embellishments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Handle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Handle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasJHooks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasJHooks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InnerPacking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InnerPacking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDesign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfDesign)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackingWay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackingWay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrintingStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrintingStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
    </dl>
    <hr />

    <form asp-action="DeletePaperBag" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="View" asp-route-id="@Model.PreOrder.Id">Back to Order</a>
        </div>
    </form>
</div>
