@model Cobra.Models.PreOrder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="container">
    <h4>PreOrder</h4>
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="CreatePaperBag" asp-route-id="@Model.Id">Add Paper Bag</a> |
    <a asp-action="CreatePaperBox" asp-route-id="@Model.Id">Add Paper Box</a>
</p>
<br />

@for (var index = 0; index < Model.PaperBags.Count(); index++)
{
    <br />
    <div class="row">
        <div class="col-md-8">
            <h4>This is a Paper Bag</h4>
        </div>
        <div class="col-md-4 text-right">
            <p>
                <a asp-action="DeletePaperBag" asp-route-id="@Model.PaperBags[index].Id">Delete</a> |
                <a asp-action="EditPaperBag" asp-route-id="@Model.PaperBags[index].Id">Edit</a>
            </p>
        </div>
    </div>
    <hr />
    @Html.Partial("DetailsPaperBag", Model.PaperBags[index])
}

<p>
    <a asp-action="CreatePaperBag" asp-route-id="@Model.Id">Add Paper Bag</a> |
    <a asp-action="CreatePaperBox" asp-route-id="@Model.Id">Add Paper Box</a>
</p>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
