@model IEnumerable<Cobra.Models.PreOrder>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Your Quotes</h2>
<br />
<p>
    @*<div>Drop us a Quote</div>*@
    <a asp-action="Create">Drop us a Quote</a>
    @*<a asp-action="Create" asp-route-product="PaperBag">Paper Bag Quote</a> |*@ 
    @*<a asp-action="Create" asp-route-product="PaperBox">Paper Box Quote</a>*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Detail
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Comment)*@
            Comment
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
